/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.small {
    width: 150px;
    height: 150px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: lightblue;
}