.post-it {
    background-color: yellow;
    width: 200px;
    height: 200px;
    font-family: cursive;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    display: inline-block;
}

.post-it.purple {
    background-color: purple;
}