* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

#color-1 {
    background-color: #69140E;
    color: white;
}

#color-2 {
    background-color: #A44200;
}

#color-3 {
    background-color: #D58936;
}

.color {
    margin: 0px;
    padding: 24px;
}